## BIG 5 Traits Creation Module

### Done from BFI-10 labels for every subject
### Two types - Self and Acquaintance

<img src="Images/Big5.png">

### BIG_FIVE TRAITS
- 0 - Extraversion - 1R, 6
- 1 - Agreeableness - 2, 7R
- 2 - Conscientiousness - 3R, 8
- 3 - Neuroticism - 4R, 9
- 4 - Openness - 5R, 10

### Data Fetching

In [1]:
%cd Acquitance_Assessments_Personality

/home/ubuntu/MHHRI/Acquitance_Assessments_Personality

In [13]:
!for i in {01..10};do wget --user mhhri --password iiitb-58! "https://www.cl.cam.ac.uk/research/rainbow/projects/mhhri/dataset/annotations/acquitance_assessments/U0$i.csv" ; done

--2021-09-05 06:07:51--  https://www.cl.cam.ac.uk/research/rainbow/projects/mhhri/dataset/annotations/acquitance_assessments/U001.csv
Resolving www.cl.cam.ac.uk (www.cl.cam.ac.uk)... 128.232.0.20, 2a05:b400:110::80:14
Connecting to www.cl.cam.ac.uk (www.cl.cam.ac.uk)|128.232.0.20|:443... connected.
HTTP request sent, awaiting response... 401 Unauthorized
Authentication selected: Basic realm="Access restricted by Nikhil Churamani"
Reusing existing connection to www.cl.cam.ac.uk:443.
HTTP request sent, awaiting response... 200 OK
Length: 225 [text/csv]
Saving to: ‘U001.csv’

U001.csv            100%[===================>]     225  --.-KB/s    in 0s

2021-09-05 06:07:52 (24.3 MB/s) - ‘U001.csv’ saved [225/225]

--2021-09-05 06:07:52--  https://www.cl.cam.ac.uk/research/rainbow/projects/mhhri/dataset/annotations/acquitance_assessments/U002.csv
Resolving www.cl.cam.ac.uk (www.cl.cam.ac.uk)... 128.232.0.20, 2a05:b400:110::80:14
Connecting to www.cl.cam.ac.uk (www.cl.cam.ac.uk)|128.232.0.20|:443... connected.
HTTP request sent, awaiting response... 401 Unauthorized
Authentication selected: Basic realm="Access restricted by Nikhil Churamani"
Reusing existing connection to www.cl.cam.ac.uk:443.
HTTP request sent, awaiting response... 200 OK
Length: 252 [text/csv]
Saving to: ‘U002.csv’

U002.csv            100%[===================>]     252  --.-KB/s    in 0s

2021-09-05 06:07:53 (25.4 MB/s) - ‘U002.csv’ saved [252/252]

--2021-09-05 06:07:53--  https://www.cl.cam.ac.uk/research/rainbow/projects/mhhri/dataset/annotations/acquitance_assessments/U003.csv
Resolving www.cl.cam.ac.uk (www.cl.cam.ac.uk)... 128.232.0.20, 2a05:b400:110::80:14
Connecting to www.cl.cam.ac.uk (www.cl.cam.ac.uk)|128.232.0.20|:443... connected.
HTTP request sent, awaiting response... 401 Unauthorized
Authentication selected: Basic realm="Access restricted by Nikhil Churamani"
Reusing existing connection to www.cl.cam.ac.uk:443.
HTTP request sent, awaiting response... 200 OK
Length: 245 [text/csv]
Saving to: ‘U003.csv’

U003.csv            100%[===================>]     245  --.-KB/s    in 0s

2021-09-05 06:07:53 (26.3 MB/s) - ‘U003.csv’ saved [245/245]

--2021-09-05 06:07:53--  https://www.cl.cam.ac.uk/research/rainbow/projects/mhhri/dataset/annotations/acquitance_assessments/U004.csv
Resolving www.cl.cam.ac.uk (www.cl.cam.ac.uk)... 128.232.0.20, 2a05:b400:110::80:14
Connecting to www.cl.cam.ac.uk (www.cl.cam.ac.uk)|128.232.0.20|:443... connected.
HTTP request sent, awaiting response... 401 Unauthorized
Authentication selected: Basic realm="Access restricted by Nikhil Churamani"
Reusing existing connection to www.cl.cam.ac.uk:443.
HTTP request sent, awaiting response... 200 OK
Length: 249 [text/csv]
Saving to: ‘U004.csv’

U004.csv            100%[===================>]     249  --.-KB/s    in 0s

2021-09-05 06:07:54 (26.5 MB/s) - ‘U004.csv’ saved [249/249]

--2021-09-05 06:07:54--  https://www.cl.cam.ac.uk/research/rainbow/projects/mhhri/dataset/annotations/acquitance_assessments/U005.csv
Resolving www.cl.cam.ac.uk (www.cl.cam.ac.uk)... 128.232.0.20, 2a05:b400:110::80:14
Connecting to www.cl.cam.ac.uk (www.cl.cam.ac.uk)|128.232.0.20|:443... connected.
HTTP request sent, awaiting response... 401 Unauthorized
Authentication selected: Basic realm="Access restricted by Nikhil Churamani"
Reusing existing connection to www.cl.cam.ac.uk:443.
HTTP request sent, awaiting response... 200 OK
Length: 226 [text/csv]
Saving to: ‘U005.csv’

U005.csv            100%[===================>]     226  --.-KB/s    in 0s

2021-09-05 06:07:54 (24.0 MB/s) - ‘U005.csv’ saved [226/226]

--2021-09-05 06:07:54--  https://www.cl.cam.ac.uk/research/rainbow/projects/mhhri/dataset/annotations/acquitance_assessments/U006.csv
Resolving www.cl.cam.ac.uk (www.cl.cam.ac.uk)... 128.232.0.20, 2a05:b400:110::80:14
Connecting to www.cl.cam.ac.uk (www.cl.cam.ac.uk)|128.232.0.20|:443... connected.
HTTP request sent, awaiting response... 401 Unauthorized
Authentication selected: Basic realm="Access restricted by Nikhil Churamani"
Reusing existing connection to www.cl.cam.ac.uk:443.
HTTP request sent, awaiting response... 200 OK
Length: 210 [text/csv]
Saving to: ‘U006.csv’

U006.csv            100%[===================>]     210  --.-KB/s    in 0s

2021-09-05 06:07:55 (21.8 MB/s) - ‘U006.csv’ saved [210/210]

--2021-09-05 06:07:55--  https://www.cl.cam.ac.uk/research/rainbow/projects/mhhri/dataset/annotations/acquitance_assessments/U007.csv
Resolving www.cl.cam.ac.uk (www.cl.cam.ac.uk)... 128.232.0.20, 2a05:b400:110::80:14
Connecting to www.cl.cam.ac.uk (www.cl.cam.ac.uk)|128.232.0.20|:443... connected.
HTTP request sent, awaiting response... 401 Unauthorized
Authentication selected: Basic realm="Access restricted by Nikhil Churamani"
Reusing existing connection to www.cl.cam.ac.uk:443.
HTTP request sent, awaiting response... 200 OK
Length: 206 [text/csv]
Saving to: ‘U007.csv’

U007.csv            100%[===================>]     206  --.-KB/s    in 0s

2021-09-05 06:07:55 (23.4 MB/s) - ‘U007.csv’ saved [206/206]

--2021-09-05 06:07:55--  https://www.cl.cam.ac.uk/research/rainbow/projects/mhhri/dataset/annotations/acquitance_assessments/U008.csv
Resolving www.cl.cam.ac.uk (www.cl.cam.ac.uk)... 128.232.0.20, 2a05:b400:110::80:14
Connecting to www.cl.cam.ac.uk (www.cl.cam.ac.uk)|128.232.0.20|:443... connected.
HTTP request sent, awaiting response... 401 Unauthorized
Authentication selected: Basic realm="Access restricted by Nikhil Churamani"
Reusing existing connection to www.cl.cam.ac.uk:443.
HTTP request sent, awaiting response... 200 OK
Length: 231 [text/csv]
Saving to: ‘U008.csv’

U008.csv            100%[===================>]     231  --.-KB/s    in 0s

2021-09-05 06:07:56 (25.5 MB/s) - ‘U008.csv’ saved [231/231]

--2021-09-05 06:07:56--  https://www.cl.cam.ac.uk/research/rainbow/projects/mhhri/dataset/annotations/acquitance_assessments/U009.csv
Resolving www.cl.cam.ac.uk (www.cl.cam.ac.uk)... 128.232.0.20, 2a05:b400:110::80:14
Connecting to www.cl.cam.ac.uk (www.cl.cam.ac.uk)|128.232.0.20|:443... connected.
HTTP request sent, awaiting response... 401 Unauthorized
Authentication selected: Basic realm="Access restricted by Nikhil Churamani"
Reusing existing connection to www.cl.cam.ac.uk:443.
HTTP request sent, awaiting response... 200 OK
Length: 229 [text/csv]
Saving to: ‘U009.csv’

U009.csv            100%[===================>]     229  --.-KB/s    in 0s

2021-09-05 06:07:56 (23.7 MB/s) - ‘U009.csv’ saved [229/229]

--2021-09-05 06:07:56--  https://www.cl.cam.ac.uk/research/rainbow/projects/mhhri/dataset/annotations/acquitance_assessments/U010.csv
Resolving www.cl.cam.ac.uk (www.cl.cam.ac.uk)... 128.232.0.20, 2a05:b400:110::80:14
Connecting to www.cl.cam.ac.uk (www.cl.cam.ac.uk)|128.232.0.20|:443... connected.
HTTP request sent, awaiting response... 401 Unauthorized
Authentication selected: Basic realm="Access restricted by Nikhil Churamani"
Reusing existing connection to www.cl.cam.ac.uk:443.
HTTP request sent, awaiting response... 200 OK
Length: 234 [text/csv]
Saving to: ‘U010.csv’

U010.csv            100%[===================>]     234  --.-KB/s    in 0s

2021-09-05 06:07:57 (25.3 MB/s) - ‘U010.csv’ saved [234/234]

In [14]:
!for i in {11..18};do wget --user mhhri --password iiitb-58! "https://www.cl.cam.ac.uk/research/rainbow/projects/mhhri/dataset/annotations/acquitance_assessments/U0$i.csv" ; done

--2021-09-05 06:08:04--  https://www.cl.cam.ac.uk/research/rainbow/projects/mhhri/dataset/annotations/acquitance_assessments/U011.csv
Resolving www.cl.cam.ac.uk (www.cl.cam.ac.uk)... 128.232.0.20, 2a05:b400:110::80:14
Connecting to www.cl.cam.ac.uk (www.cl.cam.ac.uk)|128.232.0.20|:443... connected.
HTTP request sent, awaiting response... 401 Unauthorized
Authentication selected: Basic realm="Access restricted by Nikhil Churamani"
Reusing existing connection to www.cl.cam.ac.uk:443.
HTTP request sent, awaiting response... 200 OK
Length: 215 [text/csv]
Saving to: ‘U011.csv’

U011.csv            100%[===================>]     215  --.-KB/s    in 0s

2021-09-05 06:08:04 (23.7 MB/s) - ‘U011.csv’ saved [215/215]

--2021-09-05 06:08:04--  https://www.cl.cam.ac.uk/research/rainbow/projects/mhhri/dataset/annotations/acquitance_assessments/U012.csv
Resolving www.cl.cam.ac.uk (www.cl.cam.ac.uk)... 128.232.0.20, 2a05:b400:110::80:14
Connecting to www.cl.cam.ac.uk (www.cl.cam.ac.uk)|128.232.0.20|:443... connected.
HTTP request sent, awaiting response... 401 Unauthorized
Authentication selected: Basic realm="Access restricted by Nikhil Churamani"
Reusing existing connection to www.cl.cam.ac.uk:443.
HTTP request sent, awaiting response... 200 OK
Length: 223 [text/csv]
Saving to: ‘U012.csv’

U012.csv            100%[===================>]     223  --.-KB/s    in 0s

2021-09-05 06:08:05 (24.0 MB/s) - ‘U012.csv’ saved [223/223]

--2021-09-05 06:08:05--  https://www.cl.cam.ac.uk/research/rainbow/projects/mhhri/dataset/annotations/acquitance_assessments/U013.csv
Resolving www.cl.cam.ac.uk (www.cl.cam.ac.uk)... 128.232.0.20, 2a05:b400:110::80:14
Connecting to www.cl.cam.ac.uk (www.cl.cam.ac.uk)|128.232.0.20|:443... connected.
HTTP request sent, awaiting response... 401 Unauthorized
Authentication selected: Basic realm="Access restricted by Nikhil Churamani"
Reusing existing connection to www.cl.cam.ac.uk:443.
HTTP request sent, awaiting response... 200 OK
Length: 209 [text/csv]
Saving to: ‘U013.csv’

U013.csv            100%[===================>]     209  --.-KB/s    in 0s

2021-09-05 06:08:05 (23.0 MB/s) - ‘U013.csv’ saved [209/209]

--2021-09-05 06:08:05--  https://www.cl.cam.ac.uk/research/rainbow/projects/mhhri/dataset/annotations/acquitance_assessments/U014.csv
Resolving www.cl.cam.ac.uk (www.cl.cam.ac.uk)... 128.232.0.20, 2a05:b400:110::80:14
Connecting to www.cl.cam.ac.uk (www.cl.cam.ac.uk)|128.232.0.20|:443... connected.
HTTP request sent, awaiting response... 401 Unauthorized
Authentication selected: Basic realm="Access restricted by Nikhil Churamani"
Reusing existing connection to www.cl.cam.ac.uk:443.
HTTP request sent, awaiting response... 200 OK
Length: 225 [text/csv]
Saving to: ‘U014.csv’

U014.csv            100%[===================>]     225  --.-KB/s    in 0s

2021-09-05 06:08:06 (22.6 MB/s) - ‘U014.csv’ saved [225/225]

--2021-09-05 06:08:06--  https://www.cl.cam.ac.uk/research/rainbow/projects/mhhri/dataset/annotations/acquitance_assessments/U015.csv
Resolving www.cl.cam.ac.uk (www.cl.cam.ac.uk)... 128.232.0.20, 2a05:b400:110::80:14
Connecting to www.cl.cam.ac.uk (www.cl.cam.ac.uk)|128.232.0.20|:443... connected.
HTTP request sent, awaiting response... 401 Unauthorized
Authentication selected: Basic realm="Access restricted by Nikhil Churamani"
Reusing existing connection to www.cl.cam.ac.uk:443.
HTTP request sent, awaiting response... 200 OK
Length: 228 [text/csv]
Saving to: ‘U015.csv’

U015.csv            100%[===================>]     228  --.-KB/s    in 0s

2021-09-05 06:08:06 (25.3 MB/s) - ‘U015.csv’ saved [228/228]

--2021-09-05 06:08:06--  https://www.cl.cam.ac.uk/research/rainbow/projects/mhhri/dataset/annotations/acquitance_assessments/U016.csv
Resolving www.cl.cam.ac.uk (www.cl.cam.ac.uk)... 128.232.0.20, 2a05:b400:110::80:14
Connecting to www.cl.cam.ac.uk (www.cl.cam.ac.uk)|128.232.0.20|:443... connected.
HTTP request sent, awaiting response... 401 Unauthorized
Authentication selected: Basic realm="Access restricted by Nikhil Churamani"
Reusing existing connection to www.cl.cam.ac.uk:443.
HTTP request sent, awaiting response... 200 OK
Length: 205 [text/csv]
Saving to: ‘U016.csv’

U016.csv            100%[===================>]     205  --.-KB/s    in 0s

2021-09-05 06:08:07 (20.9 MB/s) - ‘U016.csv’ saved [205/205]

--2021-09-05 06:08:07--  https://www.cl.cam.ac.uk/research/rainbow/projects/mhhri/dataset/annotations/acquitance_assessments/U017.csv
Resolving www.cl.cam.ac.uk (www.cl.cam.ac.uk)... 128.232.0.20, 2a05:b400:110::80:14
Connecting to www.cl.cam.ac.uk (www.cl.cam.ac.uk)|128.232.0.20|:443... connected.
HTTP request sent, awaiting response... 401 Unauthorized
Authentication selected: Basic realm="Access restricted by Nikhil Churamani"
Reusing existing connection to www.cl.cam.ac.uk:443.
HTTP request sent, awaiting response... 200 OK
Length: 207 [text/csv]
Saving to: ‘U017.csv’

U017.csv            100%[===================>]     207  --.-KB/s    in 0s

2021-09-05 06:08:07 (23.0 MB/s) - ‘U017.csv’ saved [207/207]

--2021-09-05 06:08:07--  https://www.cl.cam.ac.uk/research/rainbow/projects/mhhri/dataset/annotations/acquitance_assessments/U018.csv
Resolving www.cl.cam.ac.uk (www.cl.cam.ac.uk)... 128.232.0.20, 2a05:b400:110::80:14
Connecting to www.cl.cam.ac.uk (www.cl.cam.ac.uk)|128.232.0.20|:443... connected.
HTTP request sent, awaiting response... 401 Unauthorized
Authentication selected: Basic realm="Access restricted by Nikhil Churamani"
Reusing existing connection to www.cl.cam.ac.uk:443.
HTTP request sent, awaiting response... 200 OK
Length: 180 [text/csv]
Saving to: ‘U018.csv’

U018.csv            100%[===================>]     180  --.-KB/s    in 0s

2021-09-05 06:08:08 (17.5 MB/s) - ‘U018.csv’ saved [180/180]

### BIG 5 Traits

#### Acquaintance

In [2]:
import pandas as pd

In [3]:
Acquaintances_Scores={"U00"+ str(i) if(i<10) else "U0"+ str(i) : [0 for _ in range(5)] for i in range(1,19)}

In [4]:
for person in Acquaintances_Scores.keys():
    data=pd.read_csv(person + ".csv",header=None)
    data["agg"]=data.sum(axis=1)
    Ac_count=len(data.columns)-1
    data.loc[[0,2,3,4,6]]["agg"]=(10*Ac_count) -data.loc[[0,2,3,4,6]]["agg"]
    Acquaintances_Scores[person][0]=(data["agg"][0]+data["agg"][5])/(2*Ac_count)
    Acquaintances_Scores[person][1]=(data["agg"][1]+data["agg"][6])/(2*Ac_count)
    Acquaintances_Scores[person][2]=(data["agg"][2]+data["agg"][7])/(2*Ac_count)
    Acquaintances_Scores[person][3]=(data["agg"][3]+data["agg"][8])/(2*Ac_count)
    Acquaintances_Scores[person][4]=(data["agg"][4]+data["agg"][9])/(2*Ac_count)

In [5]:
Acquaintances_Scores

{'U001': [5.181818181818182,
  5.2272727272727275,
  4.7727272727272725,
  4.909090909090909,
  5.0],
 'U002': [5.666666666666667,
  5.666666666666667,
  4.875,
  5.625,
  6.083333333333333],
 'U003': [5.291666666666667,
  5.833333333333333,
  4.916666666666667,
  5.375,
  5.958333333333333],
 'U004': [5.958333333333333, 5.25, 5.375, 5.5, 6.625],
 'U005': [5.7727272727272725,
  5.454545454545454,
  5.454545454545454,
  5.454545454545454,
  6.045454545454546],
 'U006': [5.5, 5.35, 5.55, 5.5, 5.9],
 'U007': [5.7, 5.55, 5.05, 4.85, 6.2],
 'U008': [5.590909090909091,
  5.2727272727272725,
  4.909090909090909,
  5.045454545454546,
  5.7727272727272725],
 'U009': [5.545454545454546,
  5.2727272727272725,
  5.363636363636363,
  5.136363636363637,
  6.136363636363637],
 'U010': [6.136363636363637,
  5.909090909090909,
  5.045454545454546,
  5.454545454545454,
  7.090909090909091],
 'U011': [5.7, 5.55, 5.2, 5.1, 6.65],
 'U012': [4.636363636363637,
  5.863636363636363,
  5.0,
  4.7727272727272725,
  4.7727272727272725],
 'U013': [5.95, 5.2, 5.45, 5.15, 5.95],
 'U014': [5.909090909090909,
  4.7272727272727275,
  5.136363636363637,
  4.909090909090909,
  5.181818181818182],
 'U015': [5.863636363636363,
  5.636363636363637,
  5.2272727272727275,
  5.181818181818182,
  5.363636363636363],
 'U016': [5.55, 5.05, 5.9, 5.25, 5.75],
 'U017': [4.55, 4.9, 5.0, 5.1, 5.15],
 'U018': [5.388888888888889,
  5.333333333333333,
  5.333333333333333,
  4.611111111111111,
  5.166666666666667]}

In [6]:
aggregation_list = []
for user, user_score in Acquaintances_Scores.items():
    its_score = [user]
    its_score.extend(user_score)
    aggregation_list.append(its_score)
    
Acquaintance_traits_DF = pd.DataFrame(aggregation_list, columns = ['user', 'Extraversion', 'Agreeableness', 'Conscientiousness', 'Neuroticism', 'Openness'])
Acquaintance_traits_DF.head()

   user  Extraversion  Agreeableness  Conscientiousness  Neuroticism  Openness
0  U001      5.181818       5.227273           4.772727     4.909091  5.000000
1  U002      5.666667       5.666667           4.875000     5.625000  6.083333
2  U003      5.291667       5.833333           4.916667     5.375000  5.958333
3  U004      5.958333       5.250000           5.375000     5.500000  6.625000
4  U005      5.772727       5.454545           5.454545     5.454545  6.045455

In [8]:
Acquaintance_traits_DF.to_csv('Acquaintance_Assessment_Big5_Traits.csv', index = False)

In [9]:
Acquaintance_traits_DF = pd.read_csv('Acquaintance_Assessment_Big5_Traits.csv')
Acquaintance_traits_DF.head()

   user  Extraversion  Agreeableness  Conscientiousness  Neuroticism  Openness
0  U001      5.181818       5.227273           4.772727     4.909091  5.000000
1  U002      5.666667       5.666667           4.875000     5.625000  6.083333
2  U003      5.291667       5.833333           4.916667     5.375000  5.958333
3  U004      5.958333       5.250000           5.375000     5.500000  6.625000
4  U005      5.772727       5.454545           5.454545     5.454545  6.045455

#### Self

In [10]:
%cd ..
!ls

/home/ubuntu/MHHRI
 Acquitance_Assessments_Personality   Learning_Big5_from_Phys.ipynb
 Affectiva			      OpenPose_Setup.ipynb
'BIG5_Creation Module.ipynb'	      OpenPose_Test
 Big_5_acq.csv			      Physiological.ipynb
 Big_5_self.csv			      S03_kinect1_depth_clip01.tar
 Big_5_weighted.csv		      S03_kinect1_depth_clip03.tar
 Big_5_weighted_binarised.csv	      S03_kinect1_depth_clip04.tar
 Big_5_weighted_categorised.csv       Self_Assessment_Personality
 DOWNLOAD.ipynb			      Self_Assessment_PostStudy
 Ego				      Self_Assessment_ReadMe
 EgoCentric.ipynb		      cmake-3.13.0-Linux-x86_64.tar.gz
 FaceFeature.ipynb		      openpose
 Images				      openpose_dependencies.zip
 Kinect_Depth			      test_video.mov

In [35]:
%cd Self_Assessment_Personality
!wget --user mhhri --password iiitb-58! "https://www.cl.cam.ac.uk/research/rainbow/projects/mhhri/dataset/annotations/self_assessments/personality_labels.txt"

[Errno 2] No such file or directory: 'Self_Assessment_Personality'
/home/ubuntu/MHHRI/Self_Assessment_Personality
--2021-09-05 06:43:32--  https://www.cl.cam.ac.uk/research/rainbow/projects/mhhri/dataset/annotations/self_assessments/personality_labels.txt
Resolving www.cl.cam.ac.uk (www.cl.cam.ac.uk)... 128.232.0.20, 2a05:b400:110::80:14
Connecting to www.cl.cam.ac.uk (www.cl.cam.ac.uk)|128.232.0.20|:443... connected.
HTTP request sent, awaiting response... 401 Unauthorized
Authentication selected: Basic realm="Access restricted by Nikhil Churamani"
Reusing existing connection to www.cl.cam.ac.uk:443.
HTTP request sent, awaiting response... 200 OK
Length: 458 [text/plain]
Saving to: ‘personality_labels.txt.1’

personality_labels. 100%[===================>]     458  --.-KB/s    in 0s

2021-09-05 06:43:33 (37.6 MB/s) - ‘personality_labels.txt.1’ saved [458/458]

In [11]:
%cd Self_Assessment_Personality

/home/ubuntu/MHHRI/Self_Assessment_Personality

In [13]:
!ls

Self_Assessment_Big5_Traits.csv  personality_labels.txt

In [14]:
Self_DF = pd.read_csv("./personality_labels.txt",header=None,delimiter=" ")
Self_DF.head()

     0   1   2   3   4   5   6   7   8   9   10
0  U002   6   9   3   7   8   9   2   9   4   8
1  U001   4   7   4   6   8   7   4   6   4   8
2  U003   2   7   1   8   8   9   7  10   1   9
3  U004   2   9   4   8   4   8   2   8   4   7
4  U005   8   5   3   3   8   2   9   5   8   7

In [15]:
Sl_Scores={i:[0 for _ in range(5)]for i in range(1,19)}

In [16]:
Self_DF=Self_DF.drop(columns=[0])
Self_DF.head()

   1   2   3   4   5   6   7   8   9   10
0   6   9   3   7   8   9   2   9   4   8
1   4   7   4   6   8   7   4   6   4   8
2   2   7   1   8   8   9   7  10   1   9
3   2   9   4   8   4   8   2   8   4   7
4   8   5   3   3   8   2   9   5   8   7

In [17]:
Self_DF=Self_DF.astype(int)

In [18]:
for person in Sl_Scores.keys():
    Sl_Scores[person][0]=(10-Self_DF[1][person-1]+Self_DF[6][person-1])/(2)
    Sl_Scores[person][1]=(10+Self_DF[2][person-1]-Self_DF[7][person-1])/(2)
    Sl_Scores[person][2]=(10-Self_DF[3][person-1]+Self_DF[8][person-1])/(2)
    Sl_Scores[person][3]=(10-Self_DF[4][person-1]+Self_DF[9][person-1])/(2)
    Sl_Scores[person][4]=(10-Self_DF[5][person-1]+Self_DF[10][person-1])/(2)

In [19]:
Sl_Scores

{1: [6.5, 8.5, 8.0, 3.5, 5.0],
 2: [6.5, 6.5, 6.0, 4.0, 5.0],
 3: [8.5, 5.0, 9.5, 1.5, 5.5],
 4: [8.0, 8.5, 7.0, 3.0, 6.5],
 5: [2.0, 3.0, 6.0, 7.5, 4.5],
 6: [7.0, 5.5, 4.5, 4.0, 4.0],
 7: [7.0, 7.0, 5.0, 2.5, 5.5],
 8: [6.0, 7.5, 5.5, 3.5, 6.5],
 9: [6.0, 5.5, 4.5, 4.0, 4.5],
 10: [4.0, 5.5, 4.5, 4.5, 4.5],
 11: [1.5, 6.0, 5.0, 2.5, 5.5],
 12: [7.5, 8.0, 8.0, 5.0, 5.0],
 13: [4.5, 6.0, 7.0, 8.0, 5.0],
 14: [5.0, 5.5, 6.0, 3.5, 6.5],
 15: [6.5, 6.0, 7.5, 5.5, 7.5],
 16: [5.0, 8.0, 6.0, 7.0, 3.0],
 17: [7.0, 8.0, 8.0, 3.5, 6.0],
 18: [9.5, 6.5, 6.0, 1.0, 4.5]}

In [20]:
Self_Scores = []
for user, user_score in Sl_Scores.items():
    user = "U00" + str(user) if user < 10 else "U0" + str(user)
    its_score = [user]
    its_score.extend(user_score)
    Self_Scores.append(its_score)

In [21]:
Self_Scores

[['U001', 6.5, 8.5, 8.0, 3.5, 5.0],
 ['U002', 6.5, 6.5, 6.0, 4.0, 5.0],
 ['U003', 8.5, 5.0, 9.5, 1.5, 5.5],
 ['U004', 8.0, 8.5, 7.0, 3.0, 6.5],
 ['U005', 2.0, 3.0, 6.0, 7.5, 4.5],
 ['U006', 7.0, 5.5, 4.5, 4.0, 4.0],
 ['U007', 7.0, 7.0, 5.0, 2.5, 5.5],
 ['U008', 6.0, 7.5, 5.5, 3.5, 6.5],
 ['U009', 6.0, 5.5, 4.5, 4.0, 4.5],
 ['U010', 4.0, 5.5, 4.5, 4.5, 4.5],
 ['U011', 1.5, 6.0, 5.0, 2.5, 5.5],
 ['U012', 7.5, 8.0, 8.0, 5.0, 5.0],
 ['U013', 4.5, 6.0, 7.0, 8.0, 5.0],
 ['U014', 5.0, 5.5, 6.0, 3.5, 6.5],
 ['U015', 6.5, 6.0, 7.5, 5.5, 7.5],
 ['U016', 5.0, 8.0, 6.0, 7.0, 3.0],
 ['U017', 7.0, 8.0, 8.0, 3.5, 6.0],
 ['U018', 9.5, 6.5, 6.0, 1.0, 4.5]]

In [22]:
Self_traits_DF = pd.DataFrame(Self_Scores, columns = ['user', 'Extraversion', 'Agreeableness', 'Conscientiousness', 'Neuroticism', 'Openness'])
Self_traits_DF.head()

   user  Extraversion  Agreeableness  Conscientiousness  Neuroticism  Openness
0  U001           6.5            8.5                8.0          3.5       5.0
1  U002           6.5            6.5                6.0          4.0       5.0
2  U003           8.5            5.0                9.5          1.5       5.5
3  U004           8.0            8.5                7.0          3.0       6.5
4  U005           2.0            3.0                6.0          7.5       4.5

In [23]:
Self_traits_DF.to_csv('Self_Assessment_Big5_Traits.csv', index = False)

In [25]:
Self_traits_DF = pd.read_csv('Self_Assessment_Big5_Traits.csv')
Self_traits_DF.head()

   user  Extraversion  Agreeableness  Conscientiousness  Neuroticism  Openness
0  U001           6.5            8.5                8.0          3.5       5.0
1  U002           6.5            6.5                6.0          4.0       5.0
2  U003           8.5            5.0                9.5          1.5       5.5
3  U004           8.0            8.5                7.0          3.0       6.5
4  U005           2.0            3.0                6.0          7.5       4.5

### Create Big 5 Traits - weighted mean of self and acquaintance

In [27]:
Big_5_aggregated = pd.DataFrame(columns = Self_traits_DF.columns)

In [28]:
list_b5_t = ['Extraversion', 'Agreeableness', 'Conscientiousness', 'Neuroticism', 'Openness']
Big_5_aggregated['user'] = Self_traits_DF['user']
alpha = 0.8
Big_5_aggregated[list_b5_t] =  alpha * Self_traits_DF[list_b5_t] + (1.0 - alpha) * Acquaintance_traits_DF[list_b5_t]
Big_5_aggregated.head()

   user  Extraversion  Agreeableness  Conscientiousness  Neuroticism  Openness
0  U001      6.236364       7.845455           7.354545     3.781818  5.000000
1  U002      6.333333       6.333333           5.775000     4.325000  5.216667
2  U003      7.858333       5.166667           8.583333     2.275000  5.591667
3  U004      7.591667       7.850000           6.675000     3.500000  6.525000
4  U005      2.754545       3.490909           5.890909     7.090909  4.809091

In [32]:
Big_5_aggregated.to_csv('../Big_5_agg.csv', index = False)

### Categorizing

In [54]:
list_b5_t = ['Extraversion', 'Agreeableness', 'Conscientiousness', 'Neuroticism', 'Openness']
Big_5_weighted_categorised = Big_5_aggregated
Big_5_weighted_categorised[list_b5_t] = Big_5_aggregated[list_b5_t].round(0).astype(int)
Big_5_weighted_categorised.head()

   user  Extraversion  Agreeableness  Conscientiousness  Neuroticism  Openness
0  U001             5              5                  5            5         5
1  U002             6              6                  5            6         6
2  U003             5              6                  5            5         6
3  U004             6              5                  5            6         7
4  U005             6              5                  5            5         6

In [18]:
Big_5_weighted_categorised.to_csv('Big_5_weighted_categorised.csv', index = False)

In [19]:
Big_5_weighted_categorised.head()

   user  Extraversion  Agreeableness  Conscientiousness  Neuroticism  Openness
0  U001             6              8                  7            4         5
1  U002             6              6                  6            4         5
2  U003             8              5                  9            2         6
3  U004             8              8                  7            4         7
4  U005             3              3                  6            7         5