## Correlation between Engagement and Big5 (Self)

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
self_df = pd.read_csv('/content/Big_5_self.csv')
self_df.head()

   user  Extraversion  Agreeableness  Conscientiousness  Neuroticism  Openness
0  U001           6.5            8.5                8.0          3.5       5.0
1  U002           6.5            6.5                6.0          4.0       5.0
2  U003           8.5            5.0                9.5          1.5       5.5
3  U004           8.0            8.5                7.0          3.0       6.5
4  U005           2.0            3.0                6.0          7.5       4.5

In [ ]:
eng_df = pd.read_csv('/content/Engagement_Index (1).csv')
eng_df.head()

   user  eng_idx
0  U001      9.0
1  U002      9.0
2  U003      5.0
3  U004      7.5
4  U005      8.0

In [ ]:
eng_df.columns

Index(['user', 'eng_idx'], dtype='object')

In [ ]:
merged_df = self_df.merge(eng_df, left_on = 'user', right_on='user')
merged_df.head()

   user  Extraversion  Agreeableness  ...  Neuroticism  Openness  eng_idx
0  U001           6.5            8.5  ...          3.5       5.0      9.0
1  U002           6.5            6.5  ...          4.0       5.0      9.0
2  U003           8.5            5.0  ...          1.5       5.5      5.0
3  U004           8.0            8.5  ...          3.0       6.5      7.5
4  U005           2.0            3.0  ...          7.5       4.5      8.0

[5 rows x 7 columns]

In [ ]:
merged_df.corr()['eng_idx']

Extraversion         0.083494
Agreeableness        0.299443
Conscientiousness    0.059865
Neuroticism          0.482115
Openness             0.036232
eng_idx              1.000000
Name: eng_idx, dtype: float64

### Correlation between Engagement and Big5 (Acquaintance)

In [ ]:
acq_df = pd.read_csv('/content/Acquaintance_Assessment_Big5_Traits.csv')
acq_df.head()

   user  Extraversion  Agreeableness  Conscientiousness  Neuroticism  Openness
0  U001      5.181818       5.227273           4.772727     4.909091  5.000000
1  U002      5.666667       5.666667           4.875000     5.625000  6.083333
2  U003      5.291667       5.833333           4.916667     5.375000  5.958333
3  U004      5.958333       5.250000           5.375000     5.500000  6.625000
4  U005      5.772727       5.454545           5.454545     5.454545  6.045455

In [ ]:
merged_df_2 = acq_df.merge(eng_df, left_on = 'user', right_on='user')
merged_df_2.head()

   user  Extraversion  Agreeableness  ...  Neuroticism  Openness  eng_idx
0  U001      5.181818       5.227273  ...     4.909091  5.000000      9.0
1  U002      5.666667       5.666667  ...     5.625000  6.083333      9.0
2  U003      5.291667       5.833333  ...     5.375000  5.958333      5.0
3  U004      5.958333       5.250000  ...     5.500000  6.625000      7.5
4  U005      5.772727       5.454545  ...     5.454545  6.045455      8.0

[5 rows x 7 columns]

In [ ]:
merged_df_2.corr()['eng_idx']

Extraversion         0.062721
Agreeableness       -0.132233
Conscientiousness    0.121807
Neuroticism         -0.254233
Openness            -0.426842
eng_idx              1.000000
Name: eng_idx, dtype: float64